# OS Files
.DS_Store
Thumbs.db

# Android
bin/
gen/
build/
.gradle/
local.properties
*.apk
*.dex
*.ap_

# Java / NetBeans
nbproject/private/
build/
dist/
*.class
*.log

# IDE
.vscode/
.idea/
*.iml

# Python
__pycache__/
*.pyc
venv/

# Archives
*.zip
*.rar

# Env
.env